body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: normal;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 50px;
    color: whitesmoke;
    justify-content: space-between;
}

.main-nav a {
    color: whitesmoke;
    margin: 10px;
}


header {
    display: flex;
    flex-direction: row;
    background-color: black;
}

header > img {
    width: 100px;
    height: auto;
    padding: 8px;
    border-radius: 50px;
}

h1 {
    align-content: center;
    margin: 50px;
    color: whitesmoke
}

footer {
    background-color: black;
}

footer p {
    justify-content: center;
    color: whitesmoke;
}

footer nav a {
    list-style: none;
    color: white;
    margin: 10px;
}