<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <header>
            <img src="static/images/logo.jpeg" alt="store logo">
            <h1>The Thumb Store</h1>
        </header>
        <h2>Your Order List</h2>
        {% for order in orders %}
        <div>
            <p>
                Hi, {{order.customer_name}}! You ordered {{order.book.title}} on {{order.order_date}}. The total cost is £{{order.pence_to_pounds()}}. 
            </p>
            <a href="http://127.0.0.1:5000/orders/{{orders.index(order)}}">View Orders</a>
        </div>
        {% endfor %}
    </body>
</html>